<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f8b439a839.js" crossorigin="anonymous"></script>

    <title>Mercadimn</title>
	</head>
	<body>
		<div class="container">
			<ul class="nav nav-tabs justify-content-center">
			  <li class="nav-item">
				<a class="nav-link active" href="/">Lucas</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/Luis">Luis</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/Mariana">Mariana</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="/Reginalda">Reginalda</a>
			  </li>
			</ul>
		  </div>
	 
		<h2>Editar Registro</h2>
	  	<% data.forEach(function(details) { %>
			<form action="/edit/<%= details._id %> " method="POST">
				<input type="text" value="<%= details.nome %>" name="nome">
				<input type="text" value="<%= details.fantasia %>" name="fantasia">
				<input type="text" value="<%= details.cnpj %>" name="cnpj">
				<input type="text" value="<%= details.cidade %>" name="cidade">
				<input type="text" value="<%= details.tipo %>" name="tipo">
				<button><a href="/show">Todos</a></button>
				<button type="submit" class="btn btn-sm btn-primary">Atualizar <i class="fas fa-greater-than"></i></button>
			</form>
	  	<% }) %>
	 
	</body>
</html>